{% extends 'base.html' %}

{% block title %} Punjabi {% endblock title %}   <!-- This goes to base.html and make changes in title block -->

{% block body %}
<div class="album bg-light my-4">
    <div class="container">
  
      <h1 class="text-center my-1 pb-3"> SELECT PUNJABI DISHES </h1>
      
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <!--one block started-->
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/img/kulcha.jfif" width="100%" height="235px">
            <div class="card-body">
              <h5>Amritsari kulcha</h5>
              <div class="d-flex justify-content-between align-items-center">
                    <div class="text-center">
                        <button type="button" class="btn btn-primary">View</button>
                    </div>
              </div>
            </div>
          </div>
        </div>
        <!--Block Ended-->

        <div class="col">
            <div class="card shadow-sm">
              <img src="/static/img/makki.jfif" width="100%" height="235px">
              <div class="card-body">
                <h5>Sarso Da Saag Aur Makki Di Roti</h5>
                <div class="d-flex justify-content-between align-items-center">
                      <div class="text-center">
                          <button type="button" class="btn btn-primary">View</button>
                      </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm">
              <img src="/static/img/chhole.jfif" width="100%" height="235px">
              <div class="card-body">
                <h5>Chhole Bhature</h5>
                <div class="d-flex justify-content-between align-items-center">
                      <div class="text-center">
                          <button type="button" class="btn btn-primary">View</button>
                      </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm">
              <img src="/static/img/tikka.jfif" width="100%" height="235px">
              <div class="card-body">
                <h5>Paneer Tikka</h5>
                <div class="d-flex justify-content-between align-items-center">
                      <div class="text-center">
                          <button type="button" class="btn btn-primary">View</button>
                      </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm">
              <img src="/static/img/kofta.jfif" width="100%" height="235px">
              <div class="card-body">
                <h5>Malai Kofta</h5>
                <div class="d-flex justify-content-between align-items-center">
                      <div class="text-center">
                          <button type="button" class="btn btn-primary">View</button>
                      </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm">
              <img src="/static/img/makhni.jfif" width="100%" height="235px">
              <div class="card-body">
                <h5>Dal Makhani</h5>
                <div class="d-flex justify-content-between align-items-center">
                      <div class="text-center">
                          <button type="button" class="btn btn-primary">View</button>
                      </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm">
              <img src="/static/img/bharta.jfif" width="100%" height="235px">
              <div class="card-body">
                <h5>Baingat Ka Bharta</h5>
                <div class="d-flex justify-content-between align-items-center">
                      <div class="text-center">
                          <button type="button" class="btn btn-primary">View</button>
                      </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm">
              <img src="/static/img/paratha.jfif" width="100%" height="235px">
              <div class="card-body">
                <h5>Aloo Paratha</h5>
                <div class="d-flex justify-content-between align-items-center">
                      <div class="text-center">
                          <button type="button" class="btn btn-primary">View</button>
                      </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm">
              <img src="/static/img/paneer.jfif" width="100%" height="235px">
              <div class="card-body">
                <h5>Paneer Butter Masala</h5>
                <div class="d-flex justify-content-between align-items-center">
                      <div class="text-center">
                          <button type="button" class="btn btn-primary">View</button>
                      </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
{% endblock body %}        <!-- This goes to base.html and make changes in body block --> 
